server {
    listen       ${PORT};
    listen  [::]:${PORT};
    server_name  localhost;
    
    # Speed Optimization: Gzip
    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}
